{% extends 'base.html' %}
{% block title%} Question {{question_num}} {% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
{% endif %}
{% endwith %}
<h1>{{question.question}}</h1>
<form action="/answer" method="POST">
{% for choice in question.choices%}
<input type="radio" value="{{choice}}" name="choices">
<label for="choices">{{choice}}</label> <br>
{% endfor %}
<button>Continue</button>
</form>
{% endblock %}
